[Unit]
Description=Plague server daemon for build-system master machines
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/plague-server
ExecStart=/usr/bin/plague-server -d -c ${CONFIG} -p ${PIDFILE} $OPTIONS

[Install]
WantedBy=multiuser.target
