[Unit]
Description=Plague server daemon for build-system master machines
After=rpcbind.service

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/plague-server
ExecStart=/usr/bin/plague-server -d -c ${CONFIG} -p ${PIDFILE} $OPTIONS

[Install]
WantedBy=multi-user.target
