[Unit]
Description=Plague builder daemon for build-system slave machines
After=rpcbind.service

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/plague-builder
ExecStart=/usr/bin/plague-builder -d -c ${CONFIG} -p ${PIDFILE} $OPTIONS

[Install]
WantedBy=multi-user.target
